<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <title>Lion map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>

    <script src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script> 
    <script src="{{ MEDIA_URL }}js/csrf.js"></script> 
    <script src="{{ MEDIA_URL }}js/base.js"></script> 
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-theme.min.css">
 <!--   <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" /> -->

    <div class="container">
      <header>
	  <div class="row">
	    
	      <div class="col-xs-12 col-sm-6"><a href="/"><h1>Carnivore incident map</h1></a></div>
	      
            {% if user.is_authenticated %}
	    <div class="col-xs-12 col-sm-2">
	      <a href="/logout">{% trans "Logout" %}</a>
	    </div>
            {% else %}
	    <div class="col-xs-12 col-sm-4">
              <a href="/login">{% trans "Login" %}</a> | 
              <a href="/register">{% trans "Register" %}</a>
	    </div>
            {% endif %}
	  </div>
      </header>
      <section class="content">
        {% block stuff %}{% endblock %}
      </section>
    </div>
  </body>
</html>
