{% extends "base.html" %}
{% block stuff %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />
<script src="{{MEDIA_URL}}js/leaflet.js"></script>

<h2>Incident information</h2>

<div class="row">
<div class="col-sm-3 col-xs-12"><h3>Description:</h3> {{ object.details }}</div>
<div class="col-sm-3 col-xs-12"><h3>Status:</h3> {{ object.status }}</div>
<div class="col-sm-3 col-xs-12"><h3>Date:</h3> {{ object.date }}</div>

{% if object.user = user %}
<div class="col-sm-3 col-xs-12"><h3>Reporter:</h3> You</div>
{% else %}
<div class="col-sm-3 col-xs-12"><h3>Reporter:</h3> {{ object.user }}</div>
{% endif %}
</div>

{% if object.user = user %}
<button class="btn">Delete this incident</button>
{% endif %}

<div id="map" class="row-fluid col-sm-12" style="height:500px;"></div>

<script>
  $(document).ready(function() {
    media_url="{{MEDIA_URL}}";
    map=setup_map();
    create_marker(map,{{object.id}},{{object.lat}},{{object.lon}});
    map.setView(new L.LatLng({{object.lat}},{{object.lon}}), 8);
  });
</script>

{% endblock %}
