{% extends "base.html" %}
{% block title %}
REPORT INCIDENT
{% endblock %}

{% block stuff %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />
<script src="{{MEDIA_URL}}js/leaflet.js"></script>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <form id="incident_form" class="incident-form" method="post" action="/add/" enctype="multipart/form-data">
      {% csrf_token %}
      <!--   {{ form }} -->
      <div id="map"></div>

      <div class="form-group text-center">
	<input type="button" class="btn btn-primary" value="Get current date/time" onclick=""/>
      </div>
      <div class="form-group">
	<input id="id_date" class="form-control" name="date" type="text" placeholder="Date">
	<input id="id_time" class="form-control" name="time" type="text" placeholder="Time">
      </div>

      <div class="form-group text-center">
	<input type="button" class="btn btn-primary" value="Get current location" onclick="getLocationConstant()"/>
      </div>
      <div class="form-group">
	<input id="id_lat" class="form-control" name="lat" step="any" type="number" placeholder="Latitude">
	<input id="id_lon" class="form-control" name="lon" step="any" type="number" placeholder="Longitude">
      </div>

      <div class="form-group text-center">
	<input type="button" class="btn btn-primary" value="Add photo of incident">
      </div>

      <div class="form-group">
	<textarea id="id_details" class="form-control" maxlength="4096" name="details" type="text" placeholder="Description"></textarea>
      </div>

      <input id="id_user" class="form-control" name="user" type="hidden" value="{{user.id}}">
      <input id="id_status" class="form-control" name="status" type="hidden" value="0">

      <div class="form-group text-center">
	<input class="btn btn-primary" type="submit" name="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    map = setup_map();
    do_draggable_marker(map,"{{MEDIA_URL}}");
    media_url="{{MEDIA_URL}}";
  });

  $( function() {
    $( "#id_date" ).datepicker();
  });
</script>

{% endblock %}
