{% extends "base.html" %}
{% block stuff %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />
<script src="{{MEDIA_URL}}js/leaflet.js"></script>

<div class="row">
<div class="col-sm-4 col-xs-12"><h3>Description: <span style="border:solid 1px black;">{{ object.details }}</span></h3></div>
<div class="col-sm-4 col-xs-12"><h3>Status: <span style="border:solid 1px black;">{{ object.status }}</span></h3></div>
<div class="col-sm-4 col-xs-12"><h3>Date: <span style="border:solid 1px black;">{{ object.date }}</span></h3></div>
</div>

<div id="map" class="row-fluid col-sm-12" style="height:500px;"></div>

<script>
  $(document).ready(function() {
    map=setup_map();
    create_marker(map,"{{MEDIA_URL}}",{{object.id}},{{object.lat}},{{object.lon}});
    map.setView(new L.LatLng({{object.lat}},{{object.lon}}), 8);
  });
</script>

{% endblock %}
