{% extends "base.html" %}

{% block title %}
{% if object.user = user %}
MY INCIDENT
{% else %}
{{ object.user|upper }}'S INCIDENT
{% endif %}
{% endblock %}

{% block stuff %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />
<script src="{{MEDIA_URL}}js/leaflet.js"></script>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div id="map"></div>

    <div class="row h4">
      <div class="col-xs-4">Date</div>
      <div class="col-xs-4">Time</div>
      <div class="col-xs-4">Status</div>
    </div>

    <div class="row">
      <div class="col-sm-4">{{ object.date }}</div>
      <div class="col-sm-4">00:00:00</div>
      <div class="col-sm-4">{{ object.status }}</div>
<!--
      {% if object.user = user %}
      <div class="col-sm-3 col-xs-12"><h3>Reporter:</h3> You</div>
      {% else %}
      <div class="col-sm-3 col-xs-12"><h3>Reporter:</h3> {{ object.user }}</div>
      {% endif %}
-->
    </div>
    
    <hr/>

    <div class="row">
      <div class="col-xs-12">{{ object.details }}</div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12 text-center">
	{% if object.user = user %}
	<button class="btn">Delete this incident</button>
	{% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    media_url="{{MEDIA_URL}}";
    map=setup_map();
    create_marker(map,{{object.id}},{{object.lat}},{{object.lon}});
    map.setView(new L.LatLng({{object.lat}},{{object.lon}}), 8);
  });
</script>

{% endblock %}
