{% extends "base.html" %}
{% load escapenewline %}

{% block title %}
MY REPORTS
{% endblock %}

{% block stuff %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />
<script src="{{MEDIA_URL}}js/leaflet.js"></script>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div id="map"></div>    
    <div class="row h4">
      <div class="col-xs-4">Date</div>
      <div class="col-xs-4">Time</div>
      <div class="col-xs-4">Status</div>
    </div>
    <hr/>
    {% for incident in object_list %}
    <div class="row verified">
      <div class="col-xs-4">{{incident.date}}</div>
      <div class="col-xs-4">00:00:00</div>
      <div class="col-xs-4">Verified</div>
    </div>
    {% endfor %}
  </div>
</div>


<script>
  $(document).ready(function() {
    media_url="{{MEDIA_URL}}";
    map = setup_map();
  {% autoescape on %}
    {% for incident in object_list %}
    create_marker(map,{{incident.id}},{{incident.lat}},{{incident.lon}},"{% filter escapenewline %}{{incident.details}}{% endfilter %}");
    {% endfor %}
  {% endautoescape %}
  });
</script>

{% endblock %}
